<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
    <script>
        // Function to handle button clicks and navigate to a specific URL
        function navigateTo(url) {
            window.location.href = url; // Redirect to the specified URL
        }
    </script>
    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>EMERGE.</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="/" class="link active">Home</a></li>
                <li><a href="/" class="link">Blog</a></li>
                <li><a href="/services" class="link">Services</a></li>
                <li><a href="/" class="link">About</a></li>
                <li><a href="/Users_dashboard" class="link">Admin</a></li>
                <li><a href="/posts" class="link">posts</a></li>
            </ul>
        </div>
        <div class="nav-button">
            {% if current_user.is_authenticated %}
                <button class="btn white-btn" onclick="navigateTo('/logout')">Logout</button>
            {% else %}
                <button class="btn white-btn" onclick="navigateTo('/login')">Sign In</button>
                <button class="btn white-btn" onclick="navigateTo('/signup')">Sign Up</button>
            {% endif %}
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}

        {% endif %} {% endfor %} {% endif %} {% endwith %}
    {% block content %}



    {% endblock content %}
</body>
</html>
