<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>
<body>

<div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <img src="images/logoemerge.png" alt="logo" class="logo-image">
            <p>EMERGE.</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="index.html" class="link active">Home</a></li>
                <li><a href="index.html" class="link">Our davition</a></li>
                <li><a href="index.html" class="link">Contact us</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn" id="loginBtn" onclick="location.href='login'">Sign In</button>
            <button class="btn white-btn" id="registerBtn" onclick="location.href='signup'">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
           <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>

    <!------------------- Registration form -------------------------->
    <form action="signup" method="POST">
        <div class="form-box">
            <div class="register-container" >
                <div class="top">
                    <span>Have an account? <a href="login">Login</a></span>
                    <header>Sign Up</header>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" id="first_name" name="first_name" placeholder="Firstname">
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" id="last_name" name="last_name" placeholder="Lastname">
                        <i class="bx bx-user"></i>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" id="email" name="email" placeholder="Email">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="tel" class="input-field" id="Phone_number" name="Phone_number" placeholder="phone number">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" id="Password1" name="Password1" placeholder="Password">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" id="Password2" name="Password2" placeholder="Confirm Password">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit">
                </div>
                </div>
            </div>
    </form>
<script>
   function myMenuFunction() {
    var i = document.getElementById("navMenu");
    if(i.className === "nav-menu") {
        i.className += " responsive";
    } else {
        i.className = "nav-menu";
    }
   }
</script>